In [31]:
import numpy as np
import pandas as pd
a=pd.Series([5,10,15,20,None,30])

a.map({5:200,10:300,15:400,20:900,30:300},na_action='ignore')

0    200.0
1    300.0
2    400.0
3    900.0
4      NaN
5    300.0
dtype: float64

In [87]:
a=pd.read_csv('practise.csv')
b=pd.api.types.CategoricalDtype(categories=['outstanding','excellent','very good','good'],ordered=True)
a.comment=a.comment.astype(b)
a.sort_values('comment')

     ID      comment
2  5003  outstanding
0  5001    excellent
4  5005    very good
1  5002         good
3  5004         good
5  5006         good

In [116]:
a=pd.DataFrame([[1,1,1],[2,2,2],[3,3,3,]])
print(a)
b=pd.DataFrame([[1,1],[2],[3]])
a-b

   0  1  2
0  1  1  1
1  2  2  2
2  3  3  3

   0    1   2
0  0  0.0 NaN
1  0  NaN NaN
2  0  NaN NaN

In [122]:
a[0].column

AttributeError: 'Series' object has no attribute 'column'

In [127]:
a='(jh)'
a.replace(')',']')
a

'(jh)'

In [129]:

dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='H') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

2015-01-01 00:00:00    0.155700
2015-01-01 01:00:00    0.398784
2015-01-01 02:00:00    0.769873
2015-01-01 03:00:00    0.075273
2015-01-01 04:00:00    0.004106
                         ...
2015-12-30 20:00:00    0.236047
2015-12-30 21:00:00    0.159361
2015-12-30 22:00:00    0.917317
2015-12-30 23:00:00    0.825779
2015-12-31 00:00:00    0.970478
Freq: H, Length: 8737, dtype: float64

In [12]:
from scipy.stats import bernoulli
from scipy.stats import binom
import numpy as np

In [63]:
r=binom(n=40,p=0.2)
x=np.arange(1,41)
g=r.pmf2

AttributeError: 'rv_frozen' object has no attribute 'pmf2'

In [68]:
numpy.random.seed(1)
a=numpy.random.rand(4)
b=numpy.random.rand(4)
print(a,b)

[4.17022005e-01 7.20324493e-01 1.14374817e-04 3.02332573e-01] [0.14675589 0.09233859 0.18626021 0.34556073]